.feed-container{
    margin-top: 20px;
    display: flex;
    width: 1400px;
}
.last-visited-categories{
    margin-left: 50px;
    gap: 30px;
    margin-right: 20px;
}
.community-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.forum-posts-container{
    margin-right: 10px;
    background-color: #f8f8f8;
    min-width: 800px;
   padding: 10px;
   border-radius: 10px;
}

a{
    text-decoration: none;
}

.forum-post{
    border-bottom: 1px solid #817f7f;
    padding: 5px;
}
.community-date{
    margin-top: 8px;
    width: 90%;
    font-size: 13px;
}
.community-date p{
    margin-top: 5px;
    color: #929292;
}
.community-date .name{
    font-weight: 600;
    font-size: 14px;
    color: #555555
}

h5{
    color: rgb(41, 40, 40);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.post-content p{
    color: #555555;
    font-size: 15px;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    transition: all 0.5s ease;
    margin-top: 5px;
}

.votes{
    background-color: #e5ebee;
    color:#474646;
    font-size: 14px;
    padding: 5px;
    border-radius: 20px;
    gap: 5px;
}
a{
    background-color: #e5ebee;
    color:#474646;
    font-size: 14px;
    padding: 5px;
    border-radius: 20px;
    gap: 5px;
}

.votes button{
    background-color: transparent;
    color: white;
    border: none;
    padding: 0px;
    border-radius: 5px;
}


.join:hover{
    background-color: #FF4561;
    color: white;
    transform: scale(1.1);
}

.create-post{
    padding: 7px 18px;
    background-color: white;
    color:#FF4561;
    border: 1px solid #FF4561;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}

.create-post:hover{
    background-color: white;
    color:#FF4561;
    transform: scale(1.1);
}

p{
    color: #E0E0E0BF;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.5s ease;
}

p:nth-child(1){
    margin-left: 100px;
}



.comments-container {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #eae9e9;
    width: 770px; 
}

.comments-count{
    margin-top: 30px;
    flex-direction: row;
    gap: 10px;
}
h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cnt{
    background-color: #FF4561;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 5px 5px;
    width: 30px;
    border-radius: 45px;
}

form {
    display: flex;
    flex-direction: column;}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
textarea::placeholder {
    margin-top: 10px;
    color: #aaa;
}

textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.2);
}

.submit {
    position: relative;
    width: 100px;
    top: -45px;
    left: 630px;
    background-color: #FF4561;
    color: white;
    border: none;
    padding: 6px 13px;
    border-radius: 45px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.submit:hover {
    background-color: red;
}

.comment {
    background: transparent;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.author-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.author-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.author-date{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.date{
    margin-left: 450px;
}

.comment-author {
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

.comment-content {
    font-size: 17px;
    color: #212121;
    line-height: 1.5;
display: flex-start;
    margin-bottom: 10px;
margin-left: 50px;
}

.comment-likes {
    font-size: 12px;
    color: #777;
    margin-bottom: 5px;
}



p  {
    color: #333;
    font-size: 14px;
}

.likes{
    margin-left: 400px;
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    transition: all 0.7s ease-in-out;
}

.content-button{
    margin-bottom: 10px;
}

.content-botton p{
    margin: 0;
}

.likes:hover{
    background: none;
    color: #FF4561;

}



