.blog-write-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: rgb(24, 49, 83); 
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #FF4561;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #FF4561;
    outline: none;
}

.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.image-preview {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

quill-editor {
    width: 100%;
    min-height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.tags{
    display: flex;
    flex-direction: column;
}
.tags-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tags label{
    display: inline-block;
}
.tags p{
    display: inline-block;
    margin: 10px;
}
.header-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.header-text i{
    font-size: 20px;
    color: #FF4561;
    margin-right: 7px;
}
.guidelines-list{
    margin-top: 15px;
    list-style: disc;
}

li{
    color: #E0E0E0BF;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

h5{
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
}


#tags {
    width: 200px;
    margin-right: 30px;
}
#new-tags{
    width: 500px;
}

p {
    color: #E0E0E0BF;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.btn-primary {
    background-color: #FF4561;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #f90025;
}

.remove-tag{
    background-color: transparent;
    border: 1px solid #FF4561;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 5px;
    margin-right: 20px;
}

i{
    color: #FF4561;
    font-size: 10px;
}
.form-and-guideline{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 20px;

}
.guideline-container {
    list-style:disc; 
    padding: 15px;
    margin: 0;
    background-color: rgb(24, 49, 83); 
    color: white;
    width: 250px;
    max-height: 450px;
    border-radius: 10px;
}

.guideline-container i{
    font-size: 20px;
    color: #FF4561;
    margin-right: 7px;
}
