body {
    font-family: Inter, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-color: #18182F !important;
    display: flex;
    flex-direction: column;
 }

 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
 }