.community-container {
    list-style:disc; 
    padding: 15px;
    margin: 0;
    background-color: rgb(24, 49, 83); 
    color: white;
    width: 250px;
    border-radius: 10px;
}

i{
    font-size: 20px;
    color: #FF4561;
    margin-right: 7px;
}

h5{
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.community-option{
    color: #E0E0E0BF;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.5s ease;
}

.community-option label{
    transition: all 0.5s ease;
}

.community-option:hover label{
    color: #FF4561;
}

.community-list{
    margin-top: 15px;
    list-style: disc;
}
.community-list li{
    margin-bottom: 8px;
    display: flex;
}

.header-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.category-list {
    list-style: none;
    padding: 0;
  }
  
  .category-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
 