.topRanking-blogs{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.introduction-container{
    padding: 15px;
    background-color: rgb(24, 49, 83);
    color: white;
    width: 250px;
    border-radius: 10px;
    height: 350px;
    margin-left: 100px;
    margin-right: 40px;
    text-align: flex-start;
}
.introduction-container p{
    color: #b8b7b7;
    text-align: left;
}
.introduction-container h5{
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.top-container {
    padding: 20px;
    max-width: 1200px;
    background-color: rgb(24, 49, 83); 
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

i{
    color: #FF4561;
}

.top3 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    width: 100%;
}

.top3-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
    width: 250px;
}

.top3-blog:hover {
    transform: scale(1.05);
}

.top3-blog-image img {
    width: 150px;
    height: 110px;
    border-radius: 10px;
    border: 3px solid #fff;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.top3 a {
    color: #18182F;
    font-size: 17px;
    text-decoration: none;
    margin-top: 10px;
}

.top3 p{
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-right: 13px;
}

.top3 p:nth-child(3){
    margin-right: 0;
}

.top3-blog:nth-child(1) {
    order: 2; 
    text-transform: uppercase;
    background: rgba(255, 217, 0, 0.712);
    padding: 24px;
    font-size: 18px;
    border-radius: 12px;
}

.top3-blog:nth-child(2) {
    order: 1;
    text-transform: uppercase;
    background: rgba(192, 192, 192, 0.708);
    padding: 20px;
    font-size: 16px;
    border-radius: 12px;
}

.top3-blog:nth-child(3) {
    order: 3; 
    text-transform: uppercase;
    background: #cd8032c3;
    padding: 15px;
    font-size: 16px;
    border-radius: 12px;
}

.top-blogs-container {
    width: 95%;
    margin-top: 50px;
}

.top-blog-row {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 17px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    min-width: 100%;
}

.image-name{
    gap: 20px;
}

.image-name a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 50px;

}

.top-blog-row:hover {
    background: #f1f1f1;
}

.top-blog-rank {
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    text-align: center;
    color: #7f7e7e;
    margin-top: 10px;
}

.top-blog-image img {
    width: 180px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #FF4561;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.top-blog-row p {
    font-weight: bold;
    color: rgb(164, 140, 2);
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}
.top-blog-row p i{
    color: rgb(164, 140, 2);

}

.top-blog-row a{
    color: #18182F;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.title-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin-right: 50px;

}

.date-category p{
    font-size: 14px;
    color: #7c7c7c;
    margin: 0;
}
