<div class="blog-list-container">
<div *ngIf="blogs$">  
    <div *ngFor="let blog of blogs$" class="blog-item-wrapper">
      <div class="blog-item">
        <img [src]="blog.imageUri" alt="blog image" class="blog-image">
        <div class="blog-content">
            <p>{{blog.date}}</p>
            <h5>{{ blog.title }}</h5>
            <p>{{ blog.content }}</p>
            <a [routerLink]="['/blogs', blog.id]"class="learn-more">Learn more <i class="fa-solid fa-arrow-right"></i></a>
       </div>
      </div>
    </div>


  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#"><button (click)="changePage(currentPage || 1-1)" [disabled]="currentPage === 1"><i class="fa-solid fa-arrow-left"></i></button></a></li>
      <li class="page-item"><a class="page-link" href="#" style="padding: 0 5px;">{{currentPage}}</a></li>
      <li class="page-item"><a class="page-link" href="#"><button (click)="changePage(currentPage || 1+1)" [disabled]="currentPage === totalPages"><i class="fa-solid fa-arrow-right"></i></button></a></li>
    </ul>
  </nav>
</div>

  
