.ranking-container {
    list-style:disc; 
    padding: 15px;
    margin: 0;
    background-color: rgb(24, 49, 83); 
    color: white;
    width: 250px;
    border-radius: 10px;
    text-align:center;

}

i{
    font-size: 20px;
    color: #FF4561;
    margin-right: 7px;
}
.points{
    color: white;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin-top: 10px;
}

.ranking{
    width: 70px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-left: 70px;
}

h5{
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
p{
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.header-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
