.search-sort-container{
    position: relative;
    margin-top: 20px;
    width: 500px;
    right: -90px;
    gap: 20px;
}

.title-subtitle{
    display: flex;
    margin-left: 30px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 18px;
}
.section-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #c9c8c8;
}

p.date{
    color: #c9c8c8;
margin-top: 10px;
}
.section-subtitle {
    font-size: 16px;
    color: #858484;
    margin: 0;
}

.bookmarks-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

.bookmark-item {
    width: 596px;
    height: 296px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-color: #18182F;
    animation: background 1s ease-in-out, transform 1s ease-in-out;
    transition: all 3s ease-in-out;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.bookmark-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border: 1px solid #FF4561;
}

.bookmarks-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    padding: 20px;
    justify-items: center;
    align-items: start;
}

.bookmark-item {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: #18182F;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.bookmark-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(255, 69, 97, 0.3);
    border: 1px solid #FF4561;
}

.blog-image {
    width: 300px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-image:hover {
    transform: scale(1.05);
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.blog-content h5 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    color: #E0E0E0BF;
    font-size: 13px !important;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 4.5em;
}
