<div class="bookmark-folder-details">
  
    <div class="d-flex" style="margin-bottom: 30px;">
           <div class="title-subtitle" style="flex-direction: column;"> 
                <div class="d-flex justify-content-between" style="flex-direction: row;">
                   <h2 class="section-title">{{folderName}} <i style="color:#FF4561; margin-left: 10px;"class="fa-regular fa-folder"></i></h2>
                   <p class="date" style="width: 80px;">Created on: {{creationDate | date}}</p>
                </div>
                 <p class="section-subtitle">Read your favourite blogs and authors.</p>
            </div>
       
       <div class="d-flex justify-content-between search-sort-container">
        <app-search (searchQueryChanged)="onSearchQueryChanged($event)"></app-search>
        <app-sorting (sortingChanged)="onSortingChanged($event)"></app-sorting>
       </div>
    
    </div>

    
    <div class="bookmarks-list">
        <div *ngIf="bookmarks$ | async as bookmarks">
          <div *ngFor="let bookmark of bookmarks" class="bookmark-item">
            <div *ngIf="bookmark.blogId" (click)="onBlogClick(bookmark.blogId)">
              <img [src]="bookmark.blogImageUrl" alt="Blog Image" class="blog-image">
              <div class class="blog-content">
                 <h5>{{ bookmark.blogTitle }}</h5>
                 <p [innerHTML]="bookmark.blogContent ? (bookmark.blogContent | truncateString: 300) : ''" class="content"></p>
                </div>
            </div>
            <div *ngIf="bookmark.authorId" class="author-details" (click)="onAuthorClick(bookmark.authorId)">
              <img [src]="bookmark.authorImageUrl" alt="Author Image">
              <h5>{{ bookmark.authorName }} / {{bookmark.authorUsername}}</h5>
              <p>{{ bookmark.authorDescription }}</p>
              <p>Bookmarks: {{ bookmark.authorBookmarksCount }}</p>
            </div>
          </div>
      
    </div>
  </div>
  