<div class="author-container">
    <div class="d-flex">
        <div class="author-image">
            <img [src]="ownerDetails?.ownerImageUri?.trim() !== '' ? ownerDetails?.ownerImageUri : 'https://www.yamch.yenepoya.edu.in/img/no-image.jpg'" alt="author image">
        </div>
        <div class="author-details">
            <h5>{{ ownerDetails?.ownerName }}</h5>
            <p>{{ ownerDetails?.ownerDescription }}</p>
        </div>

    </div>
    <span (click)="onAuthorClick(ownerDetails?.ownerId)" class="see-more">See more <i  class="fa-solid fa-arrow-right"></i></span>

</div>
