.feed-container{
    margin-top: 20px;
    display: flex;
    width: 1400px;
}
.last-visited-categories{
    margin-left: 50px;
    gap: 30px;
    margin-right: 20px;
}
app-most-popular-communities{
    margin-right: 100px;
    margin-left: 20px;
}

app-sorting{
    margin-top: 10px;
    padding: 5px;
}

h5{
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.buttons{
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.join{
    padding: 7px 18px;
    background-color: #FF4561;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}


.join:hover{
    background-color: #FF4561;
    color: white;
    transform: scale(1.1);
}

.create-post{
    padding: 7px 18px;
    background-color: white;
    color:#FF4561;
    border: 1px solid #FF4561;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}

.create-post:hover{
    background-color: white;
    color:#FF4561;
    transform: scale(1.1);
}

p{
    color: #E0E0E0BF;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.5s ease;
}

p:nth-child(1){
    margin-left: 100px;
}



