<div class="communities-container">
    <div class="header-text">
      <h5><i class="fa-solid fa-link"></i> Popular communities</h5>
      <div class="communities" *ngIf="communities$ | async as communities; else loading">
        <div *ngFor="let community of communities">
          <div class="community d-flex flex-row">
            <div class="community-image">
              <img [src]="community.imageUri.trim() !== ''? community.imageUri : 'https://www.yamch.yenepoya.edu.in/img/no-image.jpg'" alt="Post Image">

            </div>
            <div class="community-content d-flex flex-column">
              <a [routerLink]="['/communities', community.id]">c/{{ community.name }}</a>
              <p>{{ community.members }} members</p>
            </div>
          </div>
        </div>
    </div>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
  