<div class="feed-container d-flex flex-row">
    <div class="d-flex flex-column last-visited-categories">
        <app-last-visited-communities></app-last-visited-communities>
        <app-category-selector (categoryChanged)="onCategoryChange(+($event))" [forumCategory]="forumCategory"></app-category-selector>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div *ngIf="communityDetails$ | async as community">
            <div class="community-image">
                <img [src]="community.imageUri.trim() !== '' ? community.imageUri: ''" alt="post image">
            </div>
            <h5>{{ community.name }}</h5>
            <p>{{ community.description }}</p>
            <div class="buttons">
                <button class="join" (click)="joinCommunity(community.id)">Join</button>
                <button class="join"  (click)="leaveCommunity(community.id)">Leave</button>
                <button class="create-post"  (click)="createPost(community.id)">Create post</button>
            </div>
        </div>
        </div>
      <div class="d-flex d-row">
        <div class="d-flex-d-column" style="background-color: #f8f8f8; min-width: 800px;    border-radius: 10px;">
           <app-sorting (sortingChanged)="onSortingChanged($event)"></app-sorting>
           <app-forum-posts-for-feed [posts$]="posts$"></app-forum-posts-for-feed>
        </div>
        <app-community-details [communityDetails$]="communityDetails$"></app-community-details>
     </div>
    </div>
    
</div>