<div class="blog-write-container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" [(ngModel)]="blogRequest.title" name="title" placeholder="Enter title" required minlength="3" maxlength="100">
      </div>
  
      <div class="form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="blogRequest.categoryId" name="categoryId" class="form-control" required>
          <option *ngFor="let category of categories$ | async" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="images">Images</label>
        <input type="file" id="images" (change)="onImageChange($event)" class="form-control" multiple>
        <div *ngIf="imagePreviews.length">
          <h5>Image Previews:</h5>
          <div class="image-previews">
            <img *ngFor="let image of imagePreviews" [src]="image" alt="Blog Image Preview" class="image-preview" />
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="content">Content</label>
        <quill-editor [(ngModel)]="blogRequest.content" name="content" [modules]="editorModules" theme="snow" class="form-control"></quill-editor>
      </div>
  
      <div class="form-group">
        <label for="tags">Tags</label>
        <h5>Select from existing tags or start typing new ones..</h5>
        
        <div *ngIf="tags$ | async as tags">
          <select id="tags" class="form-control" (change)="onTagSelect($event)">
            <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</option>
          </select>
        </div>
      
        <input type="text" id="new-tags" class="form-control" [(ngModel)]="newTagsInput" placeholder="Enter new tags (comma separated)"
         (keyup.enter)="onAddNewTags()">
  
        <p>Selected tags: {{ selectedTags | json }}</p>
        <p>New tags: {{ newTags | json }}</p>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit Blog</button>
    </form>
  </div>
  